<!DOCTYPE html>
<html style="height:100%;width:100%;">
	<head>
		<style>
			html, body {
				margin:0px;
				padding:0px;
			}
		</style>
	</head>
	<body style="display:flex;height:100%;width:100%;">
		<div style="background-color:#f90000;display:table;height:100%;width:70%; overflow:hidden;">1
		<div style="background-color:#ff9d00; height:100%;">2</div></div>
		<div style="background-color:#2aff00;">
			<div style="background-color:#f6ff00; position:absolute;">3</div>
		</div>
		<div style="background-color:#0800ff;flex-grow:1;">5</div>
	</body>
</html>  