<div style="display:table; table-layout:fixed; width:100%; padding:40px;">
	<div style="display:table-column-group; ">
		<div style="display:table-column; width:100%;"></div>
		<div style="display:table-column; width:290px;"></div>
	</div>
	<div style="display:table-row;">
		<div id='qnStem' style="display:table-cell;line-height:150%; margin:40px;font-size:40px;"></div>
		<div id='qnOpts' style="display:table-cell; vertical-align:top;margin:20px;"></div> 
	</div>
</div>
<div id='qnResp' style="display:table-cell;padding-left:20px;"></div>