<div style="display:table; table-layout:fixed; width:100%;">
	<div style="display:table-column-group; ">
		<div style="display:table-column; width:30%;"></div>
		<div style="display:table-column; width:30%;"></div>
	</div>
	<div style="display:table-row;">
		<div id='qnStem' style="display:table-cell;font-size:30px;vertical-align:top;padding:20px;"></div>
		<div id='qnOpts' style="display:table-cell;font-size:30px;padding:20px;"></div> 
	</div>
	<div id='qnResp' style="display:table-row;"></div>
</div>